{% extends "core.html" %}


{% block head %}
<script type="text/javascript" src={{ STATIC_URL }}js/libs/three.js></script>
<script type="text/javascript" src={{ STATIC_URL }}js/libs/three-extras.js></script>
<script type="text/javascript" src={{ STATIC_URL }}js/libs/tween.js></script>
<script type="text/javascript" src={{ STATIC_URL }}js/libs/globe.js></script>
<script type="text/javascript" src={{ STATIC_URL }}js/app.js></script>

<script type="text/javascript">
	$(document).ready(function() {
		var d = new Drawer({{repo.id}});
	});
</script>

{% endblock %}

{% block body %}
<div class="vis-controls">
	<div class="row">
		<div class="col-md-12">
			<a href="javascript:void(0)" 
			data-action="toggleFunctions"
			class="btn btn-small btn-success btn-block toggle-functions">
				Toggle Function Calls
			</a>
		</div>
		<div class="col-md-12">
			<a href="javascript:void(0)"
			 class="btn btn-small btn-primary btn-block toggle-files"
			  data-action="toggleFiles">
			  Toggle File Changes
			</a>
		</div>

	</div>

</div>

<div id="globe"></div>

{% endblock %}